* {
    background: #444;
    color: ghostwhite;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    padding: 20px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.footer {
    font-weight: 100;
    color: #666;
}

button {
    transition: background ease-in-out .2s;
}
button:hover {
    background:purple;
}